
@font-face {
    font-family: inter;
    src: url('../assets/inter-font.ttf');
}

* { margin: 0; font-family: inter; }

.imc-main-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px solid red;
    padding: 8px;
}

#main-form-header {
    align-self: center;
}

.input-text {
    height: 30px;
    border-radius: 8px;
    border: 1px solid #E8E8E8;
    color: #BDBDBD;
    background-color: #F6F6F6;
    padding: 8px;
    margin: 8px 0;
}

#sixty-years-check {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.sixty-years-input {
    display: flex;
    align-items: center;
    font-size: 0.875em;
    margin-top: 16px;
    margin-bottom: 8px;
}

input[type=button], input[type=submit] {
    margin: 8px;
    height: 45px;
    border-radius: 100px;
    font-weight: bold;
    cursor :pointer;
}

.primary-btn {
    background-color: #45FEFE;
    border-style: none;
}

.secondary-btn {
    background-color: white;
    border: 4px solid #45FEFE;
}